# Private key for deployment
PRIVATE_KEY=YOUR_PRIVATE_KEY

# RPC URLs
MAINNET_RPC_URL=RPC_URL
SEPOLIA_RPC_URL=RPC_URL
HOLESKY_RPC_URL=RPC_URL

# Etherscan API keys
ETHERSCAN_API_KEY=YOUR_ETHERSCAN_API_KEY

# Deployed address
DEFENSE_CONTRACT_ADDRESS=YOUR_DEFENSE_CONTRACT_ADDRESS